<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>theSoftwareLab.eu provides services related to Software Development and Consulting</p>
      </div>
      <div class="col-lg-4">
        <p>Our expertise includes Java, Spring, Spring Boot, Web services, REST API, SOAP, Maven, HTML, SQL and many more technologies</p>
      </div>
    </div>
  </div>
</section>
